<html>
<head>
<title>HTTPStatusCodes</title>
</head>
<body>
<br>
<H1>HTTP response status codes</H1>

<p>HTTP response status codes indicate whether a specific HTTP request has been successfully completed. Responses are grouped in five classes: informational responses, successful responses, redirects, client errors, and servers errors. </p>

<h2>Information responses</h2>
<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/100">100 Continue </a>
<p>This interim response indicates that everything so far is OK and that the client should continue with the request or ignore it if it is already finished.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/101">101 Switching Protocol </a>
<p>This code is sent in response to an Upgrade request header by the client, and indicates the protocol the server is switching too.</p>

<h2>Successful responses</h2>
<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/200">200 OK</a>
<p>The request has succeeded. The meaning of a success varies depending on the HTTP method:
GET: The resource has been fetched and is transmitted in the message body.
HEAD: The entity headers are in the message body.
POST: The resource describing the result of the action is transmitted in the message body.
TRACE: The message body contains the request message as received by the server</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/201">200 OK</a>
<p>The request has succeeded and a new resource has been created as a result of it. This is typically the response sent after a PUT request.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/202">202 Accepted</a>
<p>The request has been received but not yet acted upon. It is non-committal, meaning that there is no way in HTTP to later send an asynchronous response indicating the outcome of processing the request. It is intended for cases where another process or server handles the request, or for batch processing.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/203">203 Non-Authoritative Information</a>
<p>This response code means returned meta-information set is not exact set as available from the origin server, but collected from a local or a third party copy. Except this condition, 200 OK response should be preferred instead of this response.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/204">204 No Content</a>
<p>There is no content to send for this request, but the headers may be useful. The user-agent may update its cached headers for this resource with the new ones.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/205">205 Reset Content</a>
<p>This response code is sent after accomplishing request to tell user agent reset document view which sent this request.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/206">206 Partial Content</a>
<p>This response code is used because of range header sent by the client to separate download into multiple streams.</p>

<h2>Redirection messages</h2>
<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/300">300 Multiple Choice</a>
<p>The request has more than one possible responses. User-agent or user should choose one of them. There is no standardized way to choose one of the responses.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/301">301 Moved Permanently</a>
<p>This response code means that URI of requested resource has been changed. Probably, new URI would be given in the response.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/302">302 Found</a>
<p>This response code means that URI of requested resource has been changed temporarily. New changes in the URI might be made in the future. Therefore, this same URI should be used by the client in future requests.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/303">303 See Other</a>
<p>Server sent this response to directing client to get requested resource to another URI with an GET request.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/304">304 Not Modified</a>
<p>This is used for caching purposes. It is telling to client that response has not been modified. So, client can continue to use same cached version of response.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/307">307 Temporary Redirect</a>
<p>Server sent this response to directing client to get requested resource to another URI with same method that used prior request. This has the same semantic than the 302 Found HTTP response code, with the exception that the user agent must not change the HTTP method used: if a POST was used in the first request, a POST must be used in the second request.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/308">308 Permanent Redirect</a>
<p>This means that the resource is now permanently located at another URI, specified by the Location: HTTP Response header. This has the same semantics as the 301 Moved Permanently HTTP response code, with the exception that the user agent must not change the HTTP method used: if a POST was used in the first request, a POST must be used in the second request.</p>

<h2>Client error responses</h2>
<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/400">400 Bad Request</a>
<p>This response means that server could not understand the request due to invalid syntax.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/401">401 Unauthorized</a>
<p>Authentication is needed to get requested response. This is similar to 403, but in this case, authentication is possible.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/403">403 Forbidden</a>
<p>Client does not have access rights to the content so server is rejecting to give proper response.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/404">404 Not Found</a>
<p>Server can not find requested resource. This response code probably is most famous one due to its frequency to occur in web.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/405">405 Method Not Allowed</a>
<p>The request method is known by the server but has been disabled and cannot be used. The two mandatory methods, GET and HEAD, must never be disabled and should not return this error code.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/406">406 Not Acceptable</a>
<p>This response is sent when the web server, after performing server-driven content negotiation, doesn't find any content following the criteria given by the user agent.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/407">407 Proxy Authentication Required</a>
<p>This is similar to 401 but authentication is needed to be done by a proxy.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/408">408 Request Timeout</a>
<p>This response is sent on an idle connection by some servers, even without any previous request by the client. It means that the server would like to shut down this unused connection. This response is used much more since some browsers, like Chrome, Firefox 27+, or IE9, use HTTP pre-connection mechanisms to speed up surfing. Also note that some servers merely shut down the connection without sending this message.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/409">409 Conflict</a>
<p>This response would be sent when a request conflict with current state of server.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/410">410 Gone</a>
<p>This response would be sent when requested content has been deleted from server.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/411">411 Length Required</a>
<p>Server rejected the request because the Content-Length header field is not defined and the server requires it.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/412">412 Precondition Failed</a>
<p>The client has indicated preconditions in its headers which the server does not meet.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/413">413 Payload Too Large</a>
<p>Request entity is larger than limits defined by server; the server might close the connection or return an Retry-After header field.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/414">414 URI Too Long</a>
<p>The URI requested by the client is longer than the server is willing to interpret.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/415">415 Unsupported Media Type</a>
<p>The media format of the requested data is not supported by the server, so the server is rejecting the request.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/416">416 Requested Range Not Satisfiable</a>
<p>The range specified by the Range header field in the request can't be fulfilled; it's possible that the range is outside the size of the target URI's data.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/417">417 Expectation Failed</a>
<p>This response code means the expectation indicated by the Expect request header field can't be met by the server.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/426">426 Upgrade Required</a>
<p>The server refuses to perform the request using the current protocol but might be willing to do so after the client upgrades to a different protocol. The server sends an Upgrade header in a 426 response to indicate the required protocol(s).</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/428">428 Precondition Required</a>
<p>The origin server requires the request to be conditional. Intended to prevent the 'lost update' problem, where a client GETs a resource's state, modifies it, and PUTs it back to the server, when meanwhile a third party has modified the state on the server, leading to a conflict.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/429">429 Too Many Requests</a>
<p>The user has sent too many requests in a given amount of time ("rate limiting").</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/431">431 Request Header Fields Too Large</a>
<p>The server is unwilling to process the request because its header fields are too large. The request MAY be resubmitted after reducing the size of the request header fields.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/451">451 Unavailable For Legal Reasons</a>
<p>The user requests an illegal resource, such as a web page censored by a government.</p>

<h2>Server error responses</h2>
<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/500">500 Internal Server Error</a>
<p>The server has encountered a situation it doesn't know how to handle.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/501">501 Not Implemented</a>
<p>The request method is not supported by the server and cannot be handled. The only methods that servers are required to support (and therefore that must not return this code) are GET and HEAD..</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/502">502 Bad Gateway</a>
<p>This error response means that the server, while working as a gateway to get a response needed to handle the request, got an invalid response.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/503">503 Service Unavailable</a>
<p>The server is not ready to handle the request. Common causes are a server that is down for maintenance or that is overloaded. Note that together with this response, a user-friendly page explaining the problem should be sent. This responses should be used for temporary conditions and the Retry-After: HTTP header should, if possible, contain the estimated time before the recovery of the service. The webmaster must also take care about the caching-related headers that are sent along with this response, as these temporary condition responses should usually not be cached.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/504">504 Gateway Timeout</a>
<p>This error response is given when the server is acting as a gateway and cannot get a response in time.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/505">505 HTTP Version Not Supported</a>
<p>The HTTP version used in the request is not supported by the server.</p>

<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/511">511 Network Authentication Required</a>
<p>The 511 status code indicates that the client needs to authenticate to gain network access.</p>

</body>
</html>
