<html>
<head>
<title>On-PageAndOff-PageSEO</title>
</head>
<body>
<h2><center> On-Page SEO includes: </center></h2>

<ul>
<li>Incorporating selective keyword naturally into title tags, meta descriptions, heading tags, alt text, etc. </li>
<li>Blog posts and page copy that is written and optimized with quality </li>
<li>Clean and formatting page URLS </li>
<li>Optimized page load speed</li>
<li>Google authorship incorporated</li>
<li>Social sharing integration within your content</li>
<li>And much more! </li>
</ul>

<h2><center> Off-Page SEO includes: </center></h2>
<ul>
<li>Creating a high quality, natural backlink profile (aka having other high quality/authoritative sites  link to your site naturally) </li>
<li>Social sharing signals</li>
<li>Social bookmarking (Stumbleupon, Reddit) </li>
<li>List goes on here too! </li>
</ul>

</body>
</html>
