<html>
<body>
<title>SearchEngine</title>
<head></head>
<body style="background-color: white;">
<table  width="100%" height="100%" cellpadding="0">


<! -- Row2, Cell 1:Nav --> 

	<td class="nav" width="10%" height="80%" style=" background-color: #2980B9   ;">
	<p><center><a href="https://www.facebook.com/avemrtn" target="_blank"><img border="0" width="50" height="50" src="img/fb.png"></a></center>
	<p><center><a href="https://twitter.com/avemrtn" target="_blank"><img border="0" width="50" height="50" src="img/TwitterIcon.png"></a></center>
	<p><center><a href="https://www.instagram.com/avemrtn15/?hl=en" target="_blank"><img border="0" width="50" height="50" src="img/IGicon.png"></a></center>
	</td>

	<td class="nav" width="20%" height="80%" style="background-color:  #AED6F1;">
	<p><center><a href="/SEOandSEM">SEO and SEM</a></center></p>
	<p><center><a href="/SEOStrategies">SEO Strategies</a></center></p>
	<p><center><a href="/URL">URL Canonization</a></center></p>
	<p><center><a href="/StatusCodes">HTTP Status Codes</a></center></p>
	<p><center><a href="/On-pageSEO">On-Page SEO</a></center></p>
	<p><center><a href="/bestpractice">SEO Hyperlinking</a></center></p>
	<p><center><a href="/Backlinks">Backlinking</a></center></p>
	</td>

	<! -- Row2, Cell 1:body --> 
	<td width="80" height="80%" style="background-color: #F1948A;">
	<h1><center>What is Search Engine Optimization?</center></h1>
<div id="container">
<p><center> Search engine optimization (SEO) is the process of affecting the visibility of a website or a web page in a web search engine's unpaid results—often referred to as "natural", "organic", or "earned" results. In general, the earlier (or higher ranked on the search results page), and more frequently a site appears in the search results list, the more visitors it will receive from the search engine's users; these visitors can then be converted into customers. SEO may target different kinds of search, including image search, video search, academic search, news search, and industry-specific vertical search engines. SEO differs from local search engine optimization in that the latter is focused on optimizing a business' online presence so that its web pages will be displayed by search engines when a user enters a local search for its products or services. The former instead is more focused on national searches</center> </p></td></div>

	
<tr>
	<! -- Row1, Cell 1:border --> 
	<td colspan="3" height="10%" style="background-color: #5D6D7E  ;">
	<center>Created By: Ave Janica P. Moratin</center></td>
</tr>
</tr>
</table>
</body>
</html>
