<html>
<head>
<title>URL Canonization</title>
</head>
<body>
<br>
<div class="w3-container w3-red">
<H1>Why URL Canonization is important?</H1>

<p>URL canonicalization is basically just stating a preferred URL in your Google Search Console as well as using that preferred URL across your site.  Now, there are 3 important things you need to do concerning URL canonicalization. </p>

<h2>The 3 Important URL Canonicalization Steps:</h2>
<h3>1. Set A Preferred URL In Your Google Search Console</h3>
<p>This requires you to add and verify every other version of your URL and then setting the one that you chose as your preferred URL.</p>

<h3>2. 301 Redirect Every Other URL To Your Preferred URL</h3>
<p>As www, non-www, http, https, and any combination of those are considered separate websites, you’re going to want to make sure that your site is only accessible from one of those. For example, if you try to access this site by typing in sycosure.com or www.sycosure.com, you’re always be redirect to https://www.sycosure.com/. As there are many different CMS’ and ways of accomplishing this, I will not go over how to do this here.</p>

<h3>3. Interlink Using Your Preferred URL</h3>
<p>301 redirects are just an extra step your browser has to go through to reach its destination, so you want your URLs to be as consistent as possible with your preferred URL.</p>
</div>
</body>
</html>
